body {
  font: 12px Arial;
}
path {
  stroke-width: 3;
  fill: none;
}
.simple-linechart path {
  stroke: rgb(166, 56, 172);
}
.simple-linechart-dash path {
  stroke: rgb(94, 170, 186);
}
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
